.goods-authenticity {
  background-color: #f5f5f5;
}
.goods-authenticity__row {
  display: flex;
  align-items: center;
  justify-content: center;
}
.goods-authenticity__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  box-shadow: 1px 8px 14px -6px rgba(189, 189, 189, 0.529);
  background-color: var(--white-color);
  margin-top: 5rem;
  padding: 2rem;
}
.goods-authenticity__content img {
  width: 100%;
  max-width: 50rem;
  border-radius: 1rem;
}
.goods-authenticity__content strong {
  display: block;
  text-align: center;
  font-size: 2.3rem;
  color: #666;
  margin: 1rem;
}
.goods-authenticity__content h4 {
  font-family: "IRANSans-bold";
  color: #333;
  margin-top: 2rem;
}
.goods-authenticity__cyan-color {
  color: #00ccff !important;
}

.goods-authenticity__content span {
  font-size: 2.3rem;
  color: #333;
}
.goods-authenticity__content p {
  font-size: 1.5rem;
  color: #666;
  line-height: 4rem;
}
