.single-blog {
  background-color: #f1f1f1;
}
.single-product__wrapper {
  margin-top: 5rem;
  background-color: var(--white-color);
  border-radius: 2rem;
  padding: 3rem;
  line-height: 2;
}
.single-product__wrapper p {
  color: #555;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.single-product__wrapper h2 {
  font-size: 4rem;
  margin-bottom: 1rem;
}
.single-product__wrapper h5 {
  font-weight: bold;
  margin-top: 5rem;
}
.single-product__wrapper img {
  width: 70%;
  display: flex;
  margin: auto;
  border-radius: 2rem;
}
